body{
    background: url('https://cdn.discordapp.com/attachments/766388924104835092/772590515568771142/postbackground-template.png') repeat center center fixed;
}

.navbar{
    text-align:center;
}

nav{
    background-color: firebrick;
    width: 100%;
}

.navbar-brand{
    font-size: 1px;
    color: yellow;
}

.navbar-nav{
    text-align: center;
}

.nav-link{
    color: yellow;
}

html,body{
    height: 100%
}

footer{
    text-align: center;
    background-color: rgb(175, 30, 30);
}

#smallbar{
    background-color: rgb(204, 90, 75);
    height: 8px;
    width: 100%;
}
